<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<title>Registrace</title>
	<meta charset="UTF-8">
	<title>SignUp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
</head>
<body class="container-fluid full">
<div class="container vertical-center" >
	<div class="col-lg-5" style="margin: auto auto">	
		<div class="jumbotron">
			<img src="images/OvMZBs9.jpg" class="img-fluid" alt="Logo">
			<div class="col-xs-12" style="height:100px;"></div>
			<form action="/signup" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="username" placeholder="Jméno">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Heslo">
				</div>
				<button type="submit" class="btn btn-default btn-lg active">
					Registrovat
				</button>
			</form> <br>
			<button type="button" class="btn btn-warning" href="/">Mám účet.</button>
			
		</div>
	</div>
</div>
</body>
</html>