<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>TODO</title>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/javascripts/javascript.js"></script>
</head>
<body class="container-fluid full">
<div class="container vertical-center">
	<div  style="margin: auto auto">
		<div class="jumbotron table-responsive bg-info text-white"">
			<section class="panel tasks-widget">
				<div class="panel-body">
					<div class="task-content" align="center">
						<a href="all">Všechny </a>|
						<a href="done">Hotové</a></br>
						<hr>
						<table class="table table-striped">
							<col/>
							<col width="300px" />
							<col  />
							<% for (var i = 0; i < items.length; i++) { %>
							<tr class="task-<%= items[i].status %>">
								<td><div class="task-checkbox">
									<input type="checkbox" class="task-list-check" value="<%= items[i]._id %>" <% if(items[i].status == 'done'){ %> checked <% }%> >
								</div>

								</td>
								<div class="task-title">
									<td><span class="task-title-sp"><%= items[i].task %></span></td>
									<div class="pull-right hidden-phone"> 
										<td>	<a href="delete/<%= items[i]._id %>"><button class="btn btn-danger btn-xs">X</button></a></td>
									</div>
							</tr>
							<% } %>

						</table>
						<hr>
					</div>
					<div class=" add-task-row">
						<form action="add" method="post">
							<div class="form-group">
								<input type="text" class="form-control" name="task" placeholder="Název">
							</div>
							<button type="submit" class="btn btn-light form-control">Přidat</button>
							<div class="col-xs-12" style="height:10px;"></div>
						</form>
					</div>
					
						<a href="json" class="btn btn-warning" role="button">Všechny v JSON</a>
						<a href="done/json" class="btn btn-warning" role="button">Hotové v JSON</a>
					
					
					<a href="/logout" class="btn btn-primary" role="button">Odhlásit</a>
					
				</div>
			</section>
		</div>
	</div>
</div>
</body>
</html>
